/* font-family: 'Rubik', sans-serif;
font-family: 'Source Serif Pro', serif; */

/* 
1. Reset
2. Style globalne
3. Typografia
4. Komponenty
5. Naglowek
6. Style glownych sekcji
7. Stopka
*/

/* 1. Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 2. Style globalne */

body {
  background-color: #f4f3ef;
  color: #62615c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section {
  text-align: center;
  padding: 0 10%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%; /*obrazki beda dopasowywaly sie do moiejsca, ktore jest, nigdy go nie przekrocza*/
}

/* 3. Typografia */

p {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

/* 4. Komponenty - to, co sie powtarza np. przycisk, naglowek */

.section-header {
  padding: 42px 0 20px;
  font-size: 18px;
  color: #ff5733;
}

/* 5. Naglowek */

header {
  text-align: center;
}

.logo-bar {
  background-color: #ff5733;
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  .logo-bar {
    padding: 20px 0;
  }
}

.logo-bar img {
  max-width: 20%; /*logo bedzie sie ladnie dopasowywalo pod wzgledem szerokosci na mniejszych ekranach*/
}

.top {
  padding: 75px 0 40px;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  background-image: url("header_photo_small.jpg");
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .top {
    background-image: url("header_photo_big.jpg");
    background-size: cover;
    padding: 290px 0 180px;
  }
}

.top h1 {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .top h1 {
    margin-bottom: 80px;
    font-size: 160px;
  }
}

.top p {
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .top p {
    font-size: 54px;
  }
}

.top a {
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 24px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 3px;
}

@media screen and (min-width: 1024px) {
  .top a {
    margin: 60px 0 0;
    padding: 20px 60px;
    font-size: 24px;
  }
}

.top a:hover {
  background-color: #fff;
  color: #4c4731;
}

nav {
  background-color: #fff;
  box-shadow: 1px 1px 0 #dedede;
}

nav li {
  padding: 15px 0;
}

@media screen and (min-width: 1024px) {
  nav li {
    display: inline-block;
    padding: 60px;
  }
}

nav a {
  color: #62625c;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  nav a {
    font-size: 24px;
  }
}
