/* font-family: 'Rubik', sans-serif;
font-family: 'Source Serif Pro', serif; */

/* 
1. Reset
2. Style globalne
3. Typografia
4. Komponenty
5. Naglowek
6. Style glownych sekcji
7. Stopka
*/

/* 1. Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 2. Style globalne */

body {
  background-color: #f4f3ef;
  color: #62615c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section {
  text-align: center;
  padding: 0 10%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%; /*obrazki beda dopasowywaly sie do moiejsca, ktore jest, nigdy go nie przekrocza*/
}
