/* font-family: 'Rubik', sans-serif;
font-family: 'Source Serif Pro', serif; */

/* 
1. Reset
2. Style globalne
3. Typografia
4. Komponenty
5. Naglowek
6. Style glownych sekcji
7. Stopka
*/

/* 1. Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 2. Style globalne */

body {
  background-color: #f4f3ef;
  color: #62615c;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

section {
  text-align: center;
  padding: 0 10%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%; /*obrazki beda dopasowywaly sie do moiejsca, ktore jest, nigdy go nie przekrocza*/
}

/* 3. Typografia */

p {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

/* 4. Komponenty - to, co sie powtarza np. przycisk, naglowek */

.section-header {
  padding: 42px 0 20px;
  font-size: 18px;
  color: #ff5733;
}

@media screen and (min-width: 1024px) {
  .section-header {
    padding: 0;
  }
}

/* 5. Naglowek */

header {
  text-align: center;
}

.logo-bar {
  background-color: #ff5733;
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  .logo-bar {
    padding: 20px 0;
  }
}

.logo-bar img {
  max-width: 20%; /*logo bedzie sie ladnie dopasowywalo pod wzgledem szerokosci na mniejszych ekranach*/
}

.top {
  padding: 75px 0 40px;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  background-image: url("header_photo_small.jpg");
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .top {
    background-image: url("header_photo_big.jpg");
    background-size: cover;
    padding: 290px 0 180px;
  }
}

.top h1 {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .top h1 {
    margin-bottom: 80px;
    font-size: 160px;
  }
}

.top p {
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .top p {
    font-size: 54px;
  }
}

.top a {
  display: inline-block;
  margin: 20px 0 0;
  padding: 10px 24px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 3px;
}

@media screen and (min-width: 1024px) {
  .top a {
    margin: 60px 0 0;
    padding: 20px 60px;
    font-size: 24px;
  }
}

.top a:hover {
  background-color: #fff;
  color: #4c4731;
}

nav {
  background-color: #fff;
  box-shadow: 1px 1px 0 #dedede;
}

nav li {
  padding: 15px 0;
}

@media screen and (min-width: 1024px) {
  nav li {
    display: inline-block;
    padding: 60px;
  }
}

nav a {
  color: #62625c;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  nav a {
    font-size: 24px;
  }
}

/* 6. Style glownych sekcji */

@media screen and (min-width: 1024px) {
  .section-welcome h1 {
    margin: 160px 0 70px;
    font-size: 70px;
  }
  .section-best-meals h1 {
    margin: 25px 0 50px;
    font-size: 34px;
  }
}

.welcome-first-image {
  display: none;
}

@media screen and (min-width: 1024px) {
  .welcome-first-image {
    display: inline-block;
  }
}

.section-best-meals {
  padding: 0 10% 60px;
}

@media screen and (min-width: 1024px) {
  .section-best-meals {
    padding: 0 10% 90px;
  }
}

.section-best-meals img {
  padding-top: 20px;
  max-width: 20%;
}

@media screen and (min-width: 1024px) {
  .section-best-meals img {
    padding-top: 85px;
  }
}

.section-offer {
  padding: 40px 10% 50px;
  background: url("desen_tlo.jpg");
}

@media screen and (min-width: 1024px) {
  .section-offer {
    padding: 80px 20% 130px;
  }
}

.section-offer-single img {
  margin: 0 0 30px;
  max-width: 12%;
}

.section-offer-single p {
  color: #fff;
}

.section-offer-single:first-child {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .section-offer-single:first-child {
    margin-bottom: 80px;
  }
}

.section-newsletter {
  background-color: #efeee9;
  padding: 47px 0 26px;
}

@media screen and (min-width: 1024px) {
  .section-newsletter {
    padding: 150px 0 26px;
  }
}

.section-newsletter h2 {
  margin: 0 0 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a7a79b;
}

@media screen and (min-width: 1024px) {
  .section-newsletter h2 {
    font-size: 24px;
  }
}

.section-newsletter form {
  margin: 0 0 40px;
}

.section-newsletter input {
  display: block;
  width: 60%;
  border: 1px solid #d2cfc6;
  height: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0 auto 12px;
}

@media screen and (min-width: 1024px) {
  .section-newsletter input {
    display: inline-block;
    height: 60px;
    font-size: 16px;
  }
}

.section-newsletter button {
  padding: 10px 40px;
  border: 1px solid #a7a79b;
  background-color: #a7a79b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .section-newsletter button {
    padding: 21px 90px;
    margin-left: 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .section-newsletter-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

.social-links img {
  max-width: 10%;
}

@media screen and (min-width: 1024px) {
  .social-links img {
    margin-top: 90px;
  }
}

.section-contact-form h1 {
  margin: 50px 0 40px;
}

@media screen and (min-width: 1024px) {
  .section-contact-form h1 {
    margin: 120px 0 100px;
    font-size: 70px;
  }
}

.section-contact-form-inner {
  width: 80%;
  padding: 18px 0 24px;
  margin: 0 auto;
  border-bottom: 1px dashed #a7a79b;
}

@media screen and (min-width: 1024px) {
  .section-contact-form-inner {
    padding: 18px 0 70px;
  }
}

.section-contact-form input,
.section-contact-form textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
  border: 1px solid #d2cfc6;
}

@media screen and (min-width: 1024px) {
  .section-contact-form input,
  .section-contact-form textarea {
    width: 70%;
  }
}

.section-contact-form input {
  height: 28px;
}

@media screen and (min-width: 1024px) {
  .section-contact-form input {
    height: 60px;
    font-size: 16px;
  }
}

.section-contact-form textarea {
  height: 180px;
  padding-top: 10px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .section-contact-form textarea {
    height: 300px;
  }
}

.section-contact-form button {
  padding: 10px 42px;
  background-color: #ff5733;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  margin: 25px 0 0;
}

@media screen and (min-width: 1024px) {
  .section-contact-form button {
    padding: 22px 80px;
    font-size: 24px;
    margin: 45px 0 0;
  }
}

.section-map {
  padding: 30px 0 0;
  width: 65%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .section-map {
    padding: 60px 0 0;
  }
}

.section-map img {
  border: 1px solid #d2cfc6;
}

/* 7. Stopka */

footer p {
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  columns: #a7a79b;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  footer p {
    padding: 40px 0;
    font-size: 16px;
  }
}
